{% extends "base.html" %}
{% block title %}Последние обновления избранных авторов{% endblock %}
{% block header %}Последние обновления избранных авторов{% endblock %}
{% load thumbnail %}

{% block content %}
    {% include "included_snippet/menu.html" with follow=True%}
    <div class="container">
        {% for post in page %}
            {% include "included_snippet/post_item.html" with post=post %}
        {% endfor %}
    </div>
        {% if page.has_other_pages %}
            {% include "skeleton_page/paginator.html" with items=page paginator=paginator %}
        {% endif %}
{% endblock %}