{% extends "base.html" %}
{% block title %}Профиль пользователя {{ author.username }}{% endblock %}
{% block header %}Профиль пользователя {{ author.username }}{% endblock %}
{% load user_filters %}

{% block content %}

<main role="main" class="container">
    <div class="row">
        {% include "included_snippet/author_card.html" with author=author%}

        <div class="col-md-9">
            <!-- Пост -->
            {% include "included_snippet/post_item.html" with post=selected_post %}
            {% include "included_snippet/comments.html" with get_post=selected_post form=form %}
        </div>
    </div>
{% endblock %}
</main>