{% extends "base.html" %}
{% block title %}Профиль пользователя {{ author.username }}{% endblock %}
{% block header %}Профиль пользователя {{ author.username }}{% endblock %}
{% load user_filters %}

{% block content %}
<main role="main" class="container">
    <div class="row">
        {% include "included_snippet/author_card.html" with author=author %}
        <div class="col-md-9">
            {% for post in page %}
            <!-- Начало блока с отдельным постом -->
            {% include "included_snippet/post_item.html" with add_comment=True post=post %}
            <!-- Конец блока с отдельным постом -->
            {% endfor %}
            <!-- Остальные посты -->
            <!-- Здесь постраничная навигация паджинатора -->
            {% if page.has_other_pages %}
            {% include "skeleton_page/paginator.html" with items=page paginator=paginator %}
            {% endif %}
        </div>
    </div>
{% endblock %}
</main>